.searchFiled{
  margin-top:50px;
  margin-bottom:100px;
 
   border: none;
  border-bottom: 2px solid red;

  width: 400px;
}
.searchLabel{
  display: block;
  font-weight: bold;
  font-size: xx-large;
text-align: center;
margin-bottom: 50px;
margin-top: 40px;
}
.searchLabel:hover{
  color:red;
  
}
.container{
  display: flex;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-select{
  border: 2px solid red;
  float: right;
  margin-right: 20%;
  margin-top: 50px;
}
.SearchFieldCom{
  margin-left: 10%;
  display: inline;
}