:root {
  --background: #ffffff;
  --text-primary: #333;
  --text-secondary: #007bff;
  --comp-color: #007bff;
  --card-bg: #f8f9fa; 
  --navbar-background: #007bff;
  --button-background: #e98c8c;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --navbar-border: #0056b3;
}

[data-theme="dark"] {
  --background: #0a192f; 
  --text-primary: #f1f1f1;
  --text-secondary: #64ffda;
  --comp-color: #64ffda;
  --card-bg: #303134;
  --navbar-background: #1a1a1a;
  --button-background: #9048e9;
  --box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --navbar-border: #64ffda;
}

body{
  
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  background-color: var(--background);
  color:var(--text-Primary)
}
.app{
  height: calc(100vh - 86px);

}
.button{
  background-color: var(--button-background);
  color:var(--text-Primary);
  
 
  border-radius: 8px;
  
}
#switch-button{
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 14px;
  z-index: 1;
}
.searchFiled {
  margin-bottom: 100px;
  border: none;
  border-bottom: 2px solid var(--comp-color);
  width: 400px;
  color: var(--text-Secondary);
}
.searchFiled:focus {
  outline: none !important;
  box-shadow: 0 0 10px var(--comp-color);
  border: none;
  border-bottom: 2px dotted var(--comp-color);
}
.searchLabel {
  display: block;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}
.searchLabel:hover {
  color: var(--comp-color);
}
.container {
  display: flex;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-select {
  border: 2px solid var(--comp-color);
  float: right;
}
.SearchFieldCom {
  margin-left: 10%;
  display: inline;
}
