.countryImage{
    background-repeat: no-repeat;
    height: 189.33px;
    width: 286px;

}
.card{
    box-shadow: var(--box-shadow);
    
    width: 286px;
    height: 300px;
    margin: 30px;
    
     
}
.title{
    font-size: 20px;
    text-align: center;
    color: var(--text-Secondary);
    background-color: var(--card-background);
}

.text{
    font-size: 15px;
    text-align: center;
    background-color: var(--card-background);
}

.card-body{
    background-color: var(--card-background);
}