.image {
    position: fixed;
    background: #00000050;
    top:100px; right:100px ;
    width: 420px;

   padding: 20px;
}

.content{
  padding-left: 40px;
  
}

#back-button{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#heading{
  color: var(--text-Secondary);
}