.switch-group{
    float: right;
    margin-right: 10%;
}

#image {
  animation: rotation 8s infinite linear;
  background: transparent;
  margin-left: 20px;
}
.a{
    background-color: var(--navbar-background);
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.navBar{
  background-color: var(--navbar-background);
  
  border: 3px solid var(--navbar-border);
}